<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>title</key>
		<string>Seattle</string>
		<key>status</key>
		<string>KpiStatusRed</string>
		<key>value</key>
		<integer>48</integer>
		<key>differencePercentage</key>
		<integer>-15</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>San Francisco</string>
		<key>status</key>
		<string>KpiStatusRed</string>
		<key>value</key>
		<integer>53</integer>
		<key>differencePercentage</key>
		<integer>-13</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Charlotte</string>
		<key>status</key>
		<string>KpiStatusRed</string>
		<key>value</key>
		<integer>50</integer>
		<key>differencePercentage</key>
		<integer>-11</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Phoenix</string>
		<key>status</key>
		<string>KpiStatusRed</string>
		<key>value</key>
		<integer>96</integer>
		<key>differencePercentage</key>
		<integer>-11</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Portland</string>
		<key>status</key>
		<string>KpiStatusRed</string>
		<key>value</key>
		<integer>42</integer>
		<key>differencePercentage</key>
		<integer>-9</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Washington DC</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>44</integer>
		<key>differencePercentage</key>
		<integer>-4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Austin</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>56</integer>
		<key>differencePercentage</key>
		<integer>-4</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Denver</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>49</integer>
		<key>differencePercentage</key>
		<integer>-2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Boston</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>43</integer>
		<key>differencePercentage</key>
		<integer>-1</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Las Vegas</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>40</integer>
		<key>differencePercentage</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Chicago</string>
		<key>status</key>
		<string>KpiStatusYellow</string>
		<key>value</key>
		<integer>105</integer>
		<key>differencePercentage</key>
		<integer>2</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Los Angeles</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>120</integer>
		<key>differencePercentage</key>
		<integer>3</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Houston</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>84</integer>
		<key>differencePercentage</key>
		<integer>6</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>San Diego</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>63</integer>
		<key>differencePercentage</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Dallas</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>88</integer>
		<key>differencePercentage</key>
		<integer>7</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>San Jose</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>75</integer>
		<key>differencePercentage</key>
		<integer>8</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Detroit</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>42</integer>
		<key>differencePercentage</key>
		<integer>12</integer>
	</dict>
	<dict>
		<key>title</key>
		<string>Nashville</string>
		<key>status</key>
		<string>KpiStatusGreen</string>
		<key>value</key>
		<integer>50</integer>
		<key>differencePercentage</key>
		<integer>14</integer>
	</dict>
</array>
</plist>
